<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIv5rPcCgnDg5LOwyK-7vEv5oGeEUdQ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>999927847051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokFlutterClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>call-distribution</string>
	<key>STORAGE_BUCKET</key>
	<string>call-distribution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999927847051:ios:65d1371795d4b71be49c8e</string>
</dict>
</plist>